{% if navbarLink.enable %}
	<li>
		{% if (navbarLink.navbarLinkRef != null) and (navbarLink.linkEnable) %}
			<a href="{{navbarLink.navbarLinkRef.routePath}}"{% if currentPath == navbarLink.navbarLinkRef.routePath %} class="active" {% endif %}>{{navbarLink.name}}</a>
		{% else %}
			<a>{{navbarLink.name}}</a>
		{% endif %}

		{% if navbarLink.childs|length > 0  %}
			<ul>
				{% for child in navbarLink.childs%}
			        {{ include('FunctionalityNavbarBundle:Navbar:navbarLink.html.twig', {'navbarLink': child}) }}
			    {% endfor %}
			</ul>
		{% endif %}
	</li>
{% endif %}
