{% extends '::base.html.twig' %}

{% block title %}Portal{% endblock %}

{% block body %}
	{% block header%}
		<h1>Header</h1>
	{% endblock %}

	{% block navbar%}
		<h1>Navbar</h1>
	{% endblock %}

	{% block content%}
		<h1>Content</h1>
	{% endblock %}

	{% block footer%}
		<h1>Footer</h1>
	{% endblock %}

{% endblock %}