{% extends '::base.html.twig' %}
{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
{% block title %}Portal{% endblock %}

{% block body %}
	{% block header%}
		<h1>Header</h1>
	{% endblock %}

	{% block navbar%}
		<h1>Navbar</h1>
		{{ render(controller('FunctionalityNavbarBundle:Navbar:Index', { 'id': 1, 'currentPath': currentPath,})) }}
	{% endblock %}

	{% block content%}
		<h1>Content</h1>
	{% endblock %}

	{% block footer%}
		<h1>Footer</h1>
	{% endblock %}

{% endblock %}