{% extends '::base.html.twig' %}
{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
{% block title %}Blog{% endblock %}

{% block body %}
	{% block header%}
	{% endblock %}

	{% block navbar%}
	{% endblock %}

	{% block content%}
		<h1>Content</h1>
	{% endblock %}

	{% block footer%}
	{% endblock %}

{% endblock %}
